{% extends 'base.html' %}

{% block title %} Password Reset Sent {% endblock title %}

{% block content %}
<div class="password-reset-sent password-hero">
	<div class="password-content">
        <h1>Password Reset Sent</h1>
        <p>If an account exists with the email you've entered, we will email you instructions for resetting your password.</p>
        <p>If you didn’t receive an email, please make sure your email address was entered correctly, and make sure to check your spam folder.</p>
    </div>
</div>
<img class="background" src="{% static 'img/background-small-gap.svg' %}" alt="background city">
{% endblock content %}