{% extends 'base.html' %}
{% load static %}

{% block title %} Reset Password {% endblock title %}

{% block content %}
<div class="password-reset password-hero">
	<h1>Password Reset</h1>
	<p>Forgot your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
	<form class="main-form" method="post">
		{% csrf_token %}
		{{form.email}}
		<button type="Submit" name="Send email">Submit</button>
	</form>
</div>
<img class="background" src="{% static '/img/background-small-gap.svg' %}" alt="background city">
<script>
	var form_fields = document.getElementsByTagName('input')
	form_fields[1].placeholder='Email Address';
</script>
{% endblock content %}
