{% extends 'base.html' %}

{% block title %} Password Reset Done {% endblock title %}

{% block content %}
<div class="password-reset-form password-hero">
	<h1>Enter New Password</h1>
	<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
	<form method="post" class="main-form">
		{% csrf_token %}
		{{form}}
		<button type="Submit" name="Update Password">Update Password</button>
	</form>
</div>
<img class="background" src="{% static 'img/background-small-gap.svg' %}" alt="background city">
<script>
	var form_fields = document.getElementsByTagName('input')
	form_fields[1].placeholder='Enter New Password';
	form_fields[2].placeholder='Re-enter New Password';

	for (var field in form_fields){	
		form_fields[field].className += ' form-control'
	}
</script>
{% endblock content %}