{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="main-form confirm-delete">
    <h1>Confirm Delete</h1>
    <form action="." method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{object}}"?</p>
        <button type="submit" value="Confirm">Confirm</button>
        <button><a href="{{object.get_absolute_url}}">Cancel</a></button>
    </form>
</div>

<img class="background" src="{% static 'img/background-small-gap.svg' %}" alt="background city">

{% endblock %}