$black: black;
$dark: #555252;
$dark-l: #797878;
$medium: #DDDDDD;
$light: #EEEEEE;
$white: #FFFFFF;

$accent1: #8ABC69;
$accent1-l: #E6FFD6;
$accent1-xl: #F5FFEF;
$accent2: #68A0BC;
$accent2-l: #DAF9FE;